@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body { font-family: 'Open Sans Condensed'; }
h1 , h2, h3, h4{
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
}
/*h2, h3{
  font-weight: 300;
}*/
.remark-slide-content h1 { font-size: 2.5em; }
.remark-slide-content h2 { font-size: 2.0em; }
.remark-slide-content p{
  font-size: 1.3em;
}
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em;}

li p {
  line-height : 1.2em;
  font-size: 1.3em;
}
li { line-height: 1.2em;
     font-size: 1.3em;
     margin-top: 0.5em;
}
img{
  width: 100%;

}

li li {
    font-size: 1.0em;

}

.red { color: #fa0000}
.orange { color: #F59C25;}
.green { color: rgb(55, 126, 39);}
.blue {color: #257FF5;}
.pink {color: rgb(244, 10, 97);}
.gray {color: gray;}
.small-font{
  font-size: 0.8em;
  line-height: 0.4em;
}

.right-column{
  width: 50%;
  float: right;
  font-size: 0.8em;
  line-height: 1.2em;

}

.right-column li {
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}
.left-column{
  width: 50%;
  float: left;
  font-size: 0.8em;
  line-height: 1.2em;
}
.img-adjust{
  width: 2em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  display: inline-block;
  vertical-align: middle;
}
.img-60{
  display: block;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.img-70{
  display: block;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
.img-80{
  display: block;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.tab{
  margin-left: 1em;
  margin-top: 0.5em;
}
.headnote{
  font-family: 'Open Sans Condensed';
  position: absolute;
  top: 1em;
  color: #474747;
  font-size: 1.0em;
}

.footnote{
  font-family: 'Open Sans Condensed';
  position: absolute;
  bottom:1.0em;
  color: #474747;
  font-size: 0.6em;
  line-height: normal;
  padding-right: 80px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
